<html>
<head>
<title>activity_main.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #afb9c3;}
.s1 { color: #ffc86e;}
.s2 { color: #96be78;}
.s3 { color: #ff9696;}
</style>
</head>
<body bgcolor="#17233d">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#606060" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
activity_main.xml</font>
</center></td></tr></table>
<pre><span class="s0">&lt;?</span><span class="s1">xml version</span><span class="s2">=&quot;1.0&quot; </span><span class="s1">encoding</span><span class="s2">=&quot;utf-8&quot;</span><span class="s0">?&gt;</span>
<span class="s0">&lt;</span><span class="s3">androidx.constraintlayout.widget.ConstraintLayout </span><span class="s1">xmlns:android</span><span class="s2">=&quot;http://schemas.android.com/apk/res/android&quot;</span>
    <span class="s1">xmlns:app</span><span class="s2">=&quot;http://schemas.android.com/apk/res-auto&quot;</span>
    <span class="s1">xmlns:tools</span><span class="s2">=&quot;http://schemas.android.com/tools&quot;</span>
    <span class="s1">android:id</span><span class="s2">=&quot;@+id/main&quot;</span>
    <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
    <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span>
    <span class="s1">tools:context</span><span class="s2">=&quot;.MainActivity&quot;</span><span class="s0">&gt;</span>

    <span class="s0">&lt;</span><span class="s3">TextView</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/textView8&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:fontFamily</span><span class="s2">=&quot;cursive&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;Joan Sebastian Sierra Vesga 5L&quot;</span>
        <span class="s1">android:textColor</span><span class="s2">=&quot;#00BCD4&quot;</span>
        <span class="s1">android:textSize</span><span class="s2">=&quot;20sp&quot;</span>
        <span class="s1">android:textStyle</span><span class="s2">=&quot;bold&quot;</span>
        <span class="s1">app:layout_constraintBottom_toBottomOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintVertical_bias</span><span class="s2">=&quot;0.022&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;</span><span class="s3">TextView</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/textView7&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;RTA division: &quot;</span>
        <span class="s1">android:textColor</span><span class="s2">=&quot;#4CAF50&quot;</span>
        <span class="s1">android:textSize</span><span class="s2">=&quot;16sp&quot;</span>
        <span class="s1">android:textStyle</span><span class="s2">=&quot;bold&quot;</span>
        <span class="s1">app:layout_constraintBottom_toBottomOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintHorizontal_bias</span><span class="s2">=&quot;0.823&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintVertical_bias</span><span class="s2">=&quot;0.581&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;</span><span class="s3">TextView</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/textView6&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;RTA producto: &quot;</span>
        <span class="s1">android:textColor</span><span class="s2">=&quot;#4CAF50&quot;</span>
        <span class="s1">android:textSize</span><span class="s2">=&quot;16sp&quot;</span>
        <span class="s1">android:textStyle</span><span class="s2">=&quot;bold&quot;</span>
        <span class="s1">app:layout_constraintBottom_toBottomOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintHorizontal_bias</span><span class="s2">=&quot;0.26&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintVertical_bias</span><span class="s2">=&quot;0.581&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;</span><span class="s3">TextView</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/textView5&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;RTA resta: &quot;</span>
        <span class="s1">android:textColor</span><span class="s2">=&quot;#4CAF50&quot;</span>
        <span class="s1">android:textSize</span><span class="s2">=&quot;16sp&quot;</span>
        <span class="s1">app:layout_constraintBottom_toBottomOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintHorizontal_bias</span><span class="s2">=&quot;0.779&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintVertical_bias</span><span class="s2">=&quot;0.479&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;</span><span class="s3">TextView</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/textView4&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;RTA suma: &quot;</span>
        <span class="s1">android:textColor</span><span class="s2">=&quot;#4CAF50&quot;</span>
        <span class="s1">android:textSize</span><span class="s2">=&quot;16sp&quot;</span>
        <span class="s1">app:layout_constraintBottom_toBottomOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintHorizontal_bias</span><span class="s2">=&quot;0.256&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintVertical_bias</span><span class="s2">=&quot;0.479&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;</span><span class="s3">EditText</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/plain_text_input2&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;248dp&quot;</span>
        <span class="s1">android:inputType</span><span class="s2">=&quot;number&quot;</span>
        <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintHorizontal_bias</span><span class="s2">=&quot;0.498&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">tools:ignore</span><span class="s2">=&quot;MissingConstraints&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;</span><span class="s3">TextView</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/textView3&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;228dp&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;Numero 2&quot;</span>
        <span class="s1">android:textColor</span><span class="s2">=&quot;#4CAF50&quot;</span>
        <span class="s1">android:textSize</span><span class="s2">=&quot;16sp&quot;</span>
        <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintHorizontal_bias</span><span class="s2">=&quot;0.498&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s2">=&quot;parent&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;</span><span class="s3">TextView</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/textView2&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;116dp&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;Numero 1&quot;</span>
        <span class="s1">android:textColor</span><span class="s2">=&quot;#4CAF50&quot;</span>
        <span class="s1">android:textSize</span><span class="s2">=&quot;16sp&quot;</span>
        <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintHorizontal_bias</span><span class="s2">=&quot;0.498&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s2">=&quot;parent&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;</span><span class="s3">TextView</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/textView&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;72dp&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;Calculadora Basica&quot;</span>
        <span class="s1">android:textColor</span><span class="s2">=&quot;#FFC107&quot;</span>
        <span class="s1">android:textSize</span><span class="s2">=&quot;16sp&quot;</span>
        <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s2">=&quot;parent&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;</span><span class="s3">Button</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/btnRTA&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;Resultado&quot;</span>
        <span class="s1">app:layout_constraintBottom_toBottomOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintHorizontal_bias</span><span class="s2">=&quot;0.498&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintVertical_bias</span><span class="s2">=&quot;0.8&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;</span><span class="s3">EditText</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/plain_text_input&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;136dp&quot;</span>
        <span class="s1">android:inputType</span><span class="s2">=&quot;number&quot;</span>
        <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintHorizontal_bias</span><span class="s2">=&quot;0.498&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">tools:ignore</span><span class="s2">=&quot;MissingConstraints&quot; </span><span class="s0">/&gt;</span>

<span class="s0">&lt;/</span><span class="s3">androidx.constraintlayout.widget.ConstraintLayout</span><span class="s0">&gt;</span></pre>
</body>
</html>